.modalProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalProgress > * {
    text-align: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContent .line {
    background-color: darkgray;
    height: 1px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
}

.modalContent .footer {
    display: flex;
    justify-content: center;
}

/* 针对Modal footer中的Button */
.ant-modal-footer {
    display: flex;
    justify-content: center;
}

.ant-modal-footer .ant-btn {
    margin: 0 auto;
}

.lable, .key_P {
    word-wrap: break-word; /* 旧版浏览器兼容 */
    overflow-wrap: break-word; /* 可较新浏览器 */
    white-space: normal; /* 让文本正常换行 */
}

.spanColum .contentDiv{
    width: 100%;
}

.footerButton {
    padding: 5px 8px;
}