@import "../../../root.css";

.home {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    // justify-content: center; 
    width: 100%; 
    height: 100%;
    background: radial-gradient(circle at 10% 20%, rgba(13, 18, 82, 0.3), transparent 20%),
        radial-gradient(circle at 100% 70%, rgba(81, 10, 161, 0.3), transparent 20%),
        radial-gradient(circle at 0% 95%, rgba(59, 60, 94, 0.4), transparent 20%),
        var(--color-background2);

    .container {
        // position: relative; 
        display: flex;
        align-items: center; 
        flex-direction: column; 
        width: 1500px; 
        height: 100%; 

        .account {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            width: 100%; 
            height: 200px; 

        }

        .dataBar {
            display: flex; 
            flex-direction: row; 
            justify-content: space-around; 
            align-items: center; 
            width: 100%; 
            height: 200px; 
            background-color: var(--color-colorBar);

            .data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: var(--color-gray2);
                // background-color: var(--color-tab-active);
                cursor: pointer;

                .dataItem {
                    font-size: 20px; 
                    font-weight: regular; 
                    margin: 15px;
                }

                .dataNumber {
                    font-size: 30px; 
                    margin: 10px;
                }

                // 悬停效果
                &:hover {
                    color: var(--color-white);
                }

                // 选中状态
                &.active {
                    color: var(--color-active);
                    // border-bottom: 2px solid var(--color-pWhite);

                }
            }
        }

        .tabBar {
            margin-top: 10px;
            display: flex; 
            flex-direction: row; 
            justify-content: center; 
            align-items: center; 
            width: 100%; 
            height: 50px; 
            background-color: var(--color-colorBar);
            font-weight: regular; 

            ul {
                width: 90%;
                
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style-type: none; 
                padding: 0; 

                li {
                    cursor: pointer; 
                    color: var(--color-gray2); 
                    font-size: 18px; 
                    padding: 15px;
                    height: 30px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: var(--color-white); 
                    }

                    &.active {
                        color: var(--color-white); 
                        // font-weight: bold; 
                        background-color: #2e3141;
                    }
                }

            }
        }

        .content {
            margin-top: 10px;
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            width: 100%; 
            height: 100%; 
            background-color: var(--color-colorBar);


            .horizontalLine {
                width: 1400px;
                height: 1px;
                background-color: var(--color-line);
                // margin: 0 20px; 
            }

            .message {
                margin-top: 20px;
                color: var(--color-gray3);
            }

            .pageSelector {
                height: 150px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

            }
        }


    }

}