@import "../../../../root.css";

.spanRow {
    display: flex;
    flex-direction: row;
}

.spanColum {
    display: flex;
    flex-direction: column;
}

.spanRow, .spanColum {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modalInput, .inputKey {
    
    background-color: var(--color-input-background);
    border: 1px solid var(--color-inputBorder);
    border-radius: 5px;
    color: var(--color-gray2);
    font-size: 16px;
    font-weight: lighter;
    padding: 5px;
}

.modalInput {
    width: 200px;
    height: 30px;
}

.inputKey {
    width: 100%;
    height: 180px;
}

.inputKey .title {
    word-wrap: break-word; /* 旧版浏览器兼容 */
    overflow-wrap: break-word; /* 可较新浏览器 */
    white-space: normal; /* 让文本正常换行 */
}

.lable_input{
    width: 80px;
    text-align: right;
}

.modalInput:hover, .inputKey:hover {
    border: 1px solid var(--color-activeBorder);
    outline: none;
}

h4 {
    margin-right: 10px;
    margin-bottom: 10px;
}

.tips {
    color: var(--color-attention);
    font-size: 15px;
    font-weight: lighter;
}

.tipsFee, .attention {
    margin-bottom: 20px;
}

.attention {
    color: var(--color-attention)
}

