* {
  padding: 0; // 重置内边距
  margin: 0; // 重置外边距
  box-sizing: border-box; // 设置盒模型为边框盒模型

  // 设置字体
  /* index.css */
// @import url('https://fonts.font.im/css?family=Poppins:100,200,300,400,500,600,700,800,900');
  // font-family: 'Poppins', sans-serif;
}